@model  ASPDevApp.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>Create a new Category</h2>
<style>
    h2 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C; /*non-webkit fallback*/
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
@using (Html.BeginForm("Create", "Categories", FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter Name Cateogry..." })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
</div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @type = "form-control", @placeholder = "Enter Description...." })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create a Category</button>
    </div>
} 