@model IEnumerable<ASPDevApp.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h1>Index Category</h1>
<style>
    h1 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C; /*non-webkit fallback*/
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
@using (Html.BeginForm("Index", "Categories", FormMethod.Get))
{
    <div class="form-group">
        <label>Search by Description name:</label>
        @Html.TextBox("searchString", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Category #</th>
            <th>Category Name</th>
            <th>Category Description</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Categories", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Categories", new { id = item.Id }, new { @class = "btn btn-danger" })
                    <a href="#" class="btn btn-default">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table> 