@model ASPDevApp.ViewModel.TraineeUserCourseViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Trainee Account</h2>

@using (Html.BeginForm("Create", "TraineeProfiles", "POST"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.Name)
        @Html.TextBoxFor(model => model.TraineeProfile.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.Age)
        @Html.TextBoxFor(model => model.TraineeProfile.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.Age, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.Education)
        @Html.TextBoxFor(model => model.TraineeProfile.Education, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.Education, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.Birthday)
        @Html.TextBoxFor(model => model.TraineeProfile.Birthday,
                     new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.Birthday, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.ProgramingLanguage)
        @Html.TextBoxFor(model => model.TraineeProfile.ProgramingLanguage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.ProgramingLanguage, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TraineeProfile.Toeic)
        @Html.TextBoxFor(model => model.TraineeProfile.Toeic, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TraineeProfile.Toeic, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create new Profile</button>
    </div>
}