@model IEnumerable<ASPDevApp.Models.TraineeProfile>
@{
    ViewBag.Title = "Index";
}

<h2>Index Trainee</h2>

@Html.ActionLink("Create new Profile", "Create", "TraineeProfiles",
        null,
        new { @class = "btn btn-primary" })
@using (Html.BeginForm("Index", "TraineeProfiles", "POST"))
{
    <div class="form-group">
        <label for="fname">Search:</label><br>
        @Html.TextBox("searchString", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Education</th>
            <th>Date of birth</th>
            <th>Primary program Language</th>
            <th>TOEIC score</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Education</td>
                <td>@item.Birthday</td>
                <td>@item.ProgramingLanguage</td>
                <td>@item.Toeic</td>
                <td>
                    @Html.ActionLink("ChangePassword", "ChangePassword", "TraineeProfiles",
                              new { id = item.TraineeId },
                              new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "TraineeProfiles",
                                 new { id = item.TraineeId },
                                 new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>