
@{
    ViewBag.Title = "Index";
}

<h2>Index Course</h2>
<style>
    h2 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C;
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
@Html.ActionLink("Create new Profile", "Create", "TraineeProfiles",
        null,
        new { @class = "btn btn-primary" })
@using (Html.BeginForm("Index", "TraineeProfiles", "POST"))
{
    <div class="form-group">
        <label for="fname">Search:</label><br>
        @Html.TextBox("searchString", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Description</td>
                <td>@data.Category.Name</td>
                <td>
                    @Html.ActionLink("Update Course", "Update", "Courses",
                              new { id = data.Id },
                              new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete this Course", "Delete", "Courses",
                                 new { id = data.Id },
                                 new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>