
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Create new Course", "Create", "Courses",null,new { @class = "btn btn-primary" })
<h2>Index</h2>
<style>
    h2 {
        display: inline-block;
        font: bold 4.5em/1.5 Bebas, sans-serif;
        color: #5CA17C;
        font-size: 72px;
        text-transform: uppercase;
    }
</style>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>@item.Category.Name</td>
                <td>
                    @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", "Courses", new { id = item.Id }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Edit", "Edit", "Courses", new { id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
