@model ASPDevApp.Models.TraineeProfile
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>
<@using (Html.BeginForm("ChangePassword", "TraineeProfiles", "POST"))
{
    <div class="form-group">
        @Html.HiddenFor(model => model.Id)
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Education)
        @Html.TextBoxFor(model => model.Education, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Education, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Birthday)
        @Html.TextBoxFor(model => model.Birthday,
                     new { @class = "form-control", @type = "date" })
        @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ProgramingLanguage)
        @Html.TextBoxFor(model => model.ProgramingLanguage, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.ProgramingLanguage, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Toeic)
        @Html.TextBoxFor(model => model.Toeic, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Toeic, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </div>
}